################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRGeoLocator/HRGeoLocator/bin/Debug/netcoreapp3.1
/HRGeoLocator/HRGeoLocator/bin/Release/netcoreapp3.1/win-x64
